### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
CPU/CMakeCache.txt
CPU/CMakeFiles
CPU/cmake-build-debug
CPU/cmake_install.cmake
CPU/Makefile
CPU/RayTrace
CPU/RayTrace.cbp
CPU/test.txt